@font-face {
    font-family: 'RingBearer';
  src: url(/Desktop/Fonts/ringm___-webfont.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
}



html {
    height: 100%;
}
    
    
    
    body {
    /* Force the body to fill the entire screen */
    width: 100%;
    height: relative;
    /* Hide elements that flow outside the viewable space */
    /* Black background for the screen */
    background: #222;
    margin: 0;
    
          
  }


  
  header {
      text-align: right;
      font-size: 15px;
      color: white;
      background: linear-gradient(to right, #9198e5, #FFFACD, #9198e5);
      border-bottom: 3px solid #FFFACD;
      margin-top: 0;
      height: 4.8rem;
      margin-bottom: 1rem;
      padding-right: 10px;

  }

  #clock { 
      font-family: 'RingBearer'; 
      font-size: 1em; 
      color: #FFFACD; 
      background-color: #330867; border: 2px solid #FFFACD; 
      margin-left: 10px; 
      float: left;
      margin-top: 1.2em;
      width: 3.5em;
      text-align: center;
      height: 2.6rem;
    
    }

  


a {
    text-decoration: none;
    color: white;
    font-family: 'Cinzel', serif;
}



h1 {
    font-family: 'RingBearer';
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 1.1rem;
}


.navbar {
    list-style: none;
    width: 100%;
    display: inline;
    justify-content: space-around;
    
}


li {
    padding: 0.7rem;
    font-size: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: #9198e5;

}
ul li.active {

  background: #330867;
}

.slide {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
background: white;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
}

ul li.active a {

  color: white;

}


ul li a:nth-child(1).active ~ .slide {
  left: 0;
  opacity: 1;

}
ul li a:nth-child(2).active ~ .slide {
  left: 150;
  opacity: 1;

}
ul li a:nth-child(3).active ~ .slide {
  left: 300;
  opacity: 1;

}
ul li a:nth-child(4).active ~ .slide {
  left: 450;
  opacity: 1;

}
ul li a:nth-child(5).active ~ .slide {
  left: 600;
  opacity: 1;

}
ul li a:nth-child(6).active ~ .slide {
  left: 750;
  opacity: 1;

}


/* FORM */

input[type=text] {
  width: 9rem;
  box-sizing: border-box;
  float: left;
}

input[type=radio] {
  width: 10%;
  margin-left: 20px;
  box-sizing: border-box;
  float: left;
}

.form {
margin-top: 3rem;
margin-left: 20px;
height: 20%;
color: #FFFACD;
font-family: 'RingBearer';
font-size: 16px;
display: inline-block;
margin-bottom: 1rem;
}

/* star wars code */

  .star-wars {
      background-image: url("https://cdn.pixabay.com/photo/2016/11/23/15/23/cosmos-1853491_960_720.jpg");
      display: flex;
      background-size: 100%;
      border: 4px solid #333 ;
      overflow: hidden;
      
    /* Flexbox to center the entire element on the screen */
    justify-content: center;
    /* This is a magic number based on the context in which this snippet is used and effects the perspective */
    height: 250px;
    width: 350px;
    /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
    perspective: 600px;
    /* The rest is totally up to personal styling preferences */
    color: #feda4a;
    font-family: 'Ringbearer';
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 180%;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 2rem;

    
  }

  .crawl {
    /* Position the element so we can adjust the top property in the animation */
    position: relative;
    /* Making sure the text is fully off the screen at the start and end of the animation */
    top: -100px;
    /* Defines the skew origin at the very center when we apply transforms on the animation */
    transform-origin: 50% 100%;
    
  }

  /* We're calling this animation "crawl" */
@keyframes crawl {
    0% {
      /* The element starts below the screen */
      top: 0;
      /* Rotate the text 20 degrees but keep it close to the viewer */
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
      top: -6000px;
      /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  .crawl {
    /* Position the element so we can adjust the top property in the animation */
    position: relative;
    /* Defines the skew origin at the very center when we apply transforms on the animation */
    transform-origin: 50% 100%;
    /* Adds the crawl animation, which plays for one minute */
    animation: crawl 70s linear;
    animation-iteration-count: 3;
  }


  /* end of star wars code*/





/*  images diapo auto 
https://upload.wikimedia.org/wikipedia/commons/2/20/King_Hugh_Capet.jpg

http://archives.vosges.fr/Portals/8/xNews/uploads/2017/8/7/48j17-20-6.jpg

https://upload.wikimedia.org/wikipedia/commons/2/2e/Head_of_statue_of_the_king_Saint-Louis_%28Louis_IX%29_%28exhibition_Saint-Louis_2014-2015%29.jpg

https://cdn-images-1.medium.com/max/1200/1*zFCWJ-m9os-aWULuDu1KHA.jpeg
 */


  
  






/* diaporama code */

#loading{
    color: #fff;
    position: absolute;
    letter-spacing: 3px;
    width: 10em;
    line-height: 2em;
    top: calc(50% - 1em) ;
    left: calc(50% - 5em);
    z-index: 2;
    text-align: center;
  }
  
  .loading-done{
    display: none;
  }
  
  #images{
    position: absolute;
    width: 350px;
    left: calc(65% - 230px);
  }
  
  .canvas{
    position: relative;
    display:block;
    overflow: hidden;
  }
  
  
  #images img{
    display: none;
    vertical-align: bottom;
  }
  
  canvas{
    vertical-align: bottom;
    position: absolute;
  }
  
  nav ul{
    height: 0;
    margin: 0;
  }
  
  
  nav li {
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: .3;
    list-style: none;
    top: calc(50% - 12px);
    z-index: 100;
    transition: opacity .3s;
  }
  
  nav li:hover{
    opacity: .7;
  }
  
  .pre.after-loading{
    left: -40px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
  }
  
  .next.after-loading{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    right: -40px;
  }
  

 

.lol1 {
  background: transparent;
  
}

.lol2 {
  background: transparent;
  
}


/* End of diapo*/


/* DROP DOWN SIDE BAR */

.roi1 {
    color:#FFFACD;
    font-size: 16px;
    font-family: 'RingBearer';
    

}


.roi2 {
    color: #FFFACD;
    font-size: 16px;
    font-family: 'RingBearer';

}


.roi3 {
    color: #FFFACD;
    font-size: 16px;
    font-family: 'RingBearer';

}


.roi4 {
    color: #FFFACD;
    font-size: 16px;
    font-family: 'RingBearer';

}


.dropdown-container {
margin-top: 22rem;
display: flex;

}

.dropdown {
    margin-top: 1.8rem;
    position: relative;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #9198e5;
    padding: 1rem;
    text-align: center;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#5F5F5F;
    width: 180px;
    box-shadow: 0px 8px 16px 0px #FFFACD;
    padding: 8px 12px;
    z-index: 1;
    overflow-Y: scroll;
    max-height: 180px;
  }
  
  .dropdown:hover .dropdown-content {
    display: inline;
  }


p {
    font-family: 'Cinzel', serif;

}


/* FOOTER */

  .lys1 {
    height: 45px;
    width: 35px;
    float: left;
    padding-left: 10px;
    margin-top: 8px;

}

.lys2 {
  height: 45px;
  width: 35px;
  float: right;
  padding-right: 10px;
  margin-top: 8px;
}

  footer {
    font-family: 'Cinzel', serif;
    color: white;
    display: inline-block;
    font-size: 22px;
    height: 12rem;
    width: 100%;
    background: linear-gradient(to right, #5F5F5F, #9198e5);

    border-top: 5px solid  #FFFACD;
    text-align: center; 
    margin-top: 1rem;
}

.footer-img {
    height: 75px;
    width: 55px;
    border: 4px solid #FFFACD;
    border-radius: 20%;
    margin-top: 3.5rem;
    display: inline;
    justify-content: space-around;
}

.distant {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-family: 'RingBearer';
    padding-top: 0.3rem;
}